@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: 
    linear-gradient(to bottom,#E24DA0,#FF8344, #B931B9,#5F52CD);
}
p{
    text-align: left;
}
/* O conteudo esat dentro de main */

main{
    background-color: white;
    width: 550px;
    padding: 10px;
    margin: auto;
    border-radius:   15px;  /* arredondar as bordas*/
    box-shadow: 10px 10px 10px black;
}
h1{
    color: rgb(148, 202, 22);
}
h2{
    color: teal;
}
p{
    text-align: justify;
}
